.list_item_area{
    position: absolute;
    right: 0;
    bottom: 10px;
    margin-right: 55px;
    width: 550px;
    height: 250px;
    border: 1px solid #fff;
}
.btn_order,.btn_reset,.title_price{
    position: absolute;
    right: 620px;
}
.btn_beverage_add{position: absolute;bottom: 10px;}
.btn_order{bottom: 10px;}
.btn_reset{bottom: 50px;}
.title_price{bottom: 90px;}